.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    background: #EBF9FF;
    margin: 5vh 0;
}

.get-started-content {
    width: calc(100% - 70vw);
    max-width: 1440px;
    padding: 5vh 2vw;
    border-radius: 20px;
    background: linear-gradient(0deg, #0B77A1 0%, #E7F2F7 99%);
    text-align: center;
    color: #fff;
}

.get-started h2 {
    font-size: 4vh;
    margin-bottom: 2vh;
}

.get-started-button {
    background-color: #005577;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 1.5vh 3vw;
    font-size: 2.5vh;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.get-started-button:hover {
    background-color: #00394c;
}
