.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 13vw;
    background-color: #EBF9FF;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.logo img {
    height: 10vh;
    width: auto;
}

.navigation a {
    margin: 0 1.04vw;
    color: black;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}
