.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 13vw;
    background-color: #EBF9FF;
}

.hero-content {
    display: flex;
    width: 100%;
    max-width: 90vw;
    gap: 2vw;
}

.hero-left {
    flex: 1;
    text-align: left;
}

.hero-left h1 {
    font-size: 4vh;
    margin-bottom: 2vh;
}

.hero-left p {
    font-size: 2vh;
    margin-bottom: 2vh;
}

.hero-buttons {
    display: flex;
    gap: 2vw;
}

.hero-buttons .btn-primary, .hero-buttons .btn-secondary {
    padding: 1.5vh 3vw;
    font-size: 2vh;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
}

.hero-buttons .btn-primary {
    background-color: #61dafb;
    color: #002C3D;
}

.hero-buttons .btn-secondary {
    background-color: #282c34;
    color: white;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-video {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
    border: none;
}
