.landing-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.landing-page-header {
    padding: 20px;
    text-align: center;
    background-color: #282c34;
    color: white;
}

main {
    flex-grow: 1;
    padding: 20px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #282c34;
    color: white;
}
